.father-decla{
  background: linear-gradient(rgba(255, 255, 255, 0.801), rgba(255, 255, 255, 0.712)),
  url("../images/bg-tel-white.jpg");
}


.css-cx99a7-MuiList-root {
  background-color: #3f3b3b00 !important;
  border-radius: 30px;
  
  .decla-p{
    color: var(--blue-500);
  font-weight: 500;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  }
}

.css-97qnyd-MuiList-root{
  background-color: #3f3b3b00 !important;
  color: blue;
  font-weight: 900;
}