.cont-historia{
    border: 0 1px 0 1px rgb(46, 44, 44);
    box-shadow: -2px -4px 3px 1px rgba(0,0,0,0.27) inset;
-webkit-box-shadow: -2px -4px 3px 1px rgba(0,0,0,0.27) inset;
-moz-box-shadow: -2px -4px 3px 1px rgba(0,0,0,0.27) inset;
}