@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

.Public {
    margin: auto;
    display: flex;
    justify-content: space-around;
    border-radius: 2px;

    && .public {
        background: rgb(254, 255, 255);
        margin: 1rem 0 0 0;
        padding: 1rem 0 0 0;
        justify-content: space-around;
        border-radius: 15px;
        box-shadow: black black black 2px;
        -webkit-box-shadow: -4px 7px 24px -3px rgba(0, 0, 0, 0.21);
        -moz-box-shadow: -4px 7px 24px -3px rgba(0, 0, 0, 0.21);
        box-shadow: -4px 7px 24px -3px rgba(0, 0, 0, 0.21);
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        width: -webkit-fill-available;

        && .comment {
            list-style: none;

            && .commentPublic {
                margin: 0 0 -2rem 0;
            }
        }
    }

    && .PublicComment {
        display: flex;
        justify-content: start;
        margin: 1rem;
    }

    && .comment-input-container {
        padding: 0 10%;
    }
}



.dateIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    && .ProfileItems {
        display: flex;
        align-items: center;
        margin-left: 15px;

        && .UserDate {
            margin-left: 10px;
            font-size: larger;

            && a {
                color: black;
                text-decoration: none;
            }
        }

        && .UserDate .date {
            font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
            list-style: none;
            font-size: x-small;
        }

        && .PublicAvatar {
            width: 50px;
            height: 50px;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
        }
    }

    && .treeePounts {
        margin: 0 1rem 0 0;
    }


}

.containerImg {
    display: flex;
    justify-content: center;
    height: auto;

    && .imgPublic {
        max-width: 100%;
        max-height: 500px;
        /* padding:  0 1em; */

    }
}

.checks {
    display: flex;
    margin: auto;
    justify-content: space-around;
    /* width: 80%;
    height:  20px; */


    && div button {
        background-color: rgb(255, 255, 255);
        font-weight: 600;
        border: 0;
        width: auto;
        padding: auto;
        margin: auto;
        font-size: 1rem;
        display: flow;

        &&:hover {
            background: rgb(196, 196, 196);
        }
    }
}



.commentBlubleAll{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.commentsBuble{
    border-radius: 30px;
    width: 70%;
    /* border: 1px solid; */
    text-align: center;
    background: rgb(239, 250, 255);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.ItemsComents{
    margin: 0 0 11px 0;
}
.ItemsCommentsReaction{
    justify-content: flex-end;
    display: flex;
    color: rgb(207, 207, 207);
    margin: 0 12px 0 0;
    a {
        margin: 0 12px;
    }

}


.important-pointer-events {
    pointer-events: all !important;
  }
  


.Content-Comment{
    display: flex;
    && button{
        color: cornflowerblue;
        background: none;
        border: none;
    }
}