.ArticleUpload {}

.container-items {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 0.4rem 0 0;

    && div {
        margin: 0 0.2rem;
        max-width: 100%;
    }

    && .btn {
        border: 1px solid rgba(0, 0, 0, 0.218);
    }

}


.changeImage figure {
    margin: auto;
}

.btn-share button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* File hiffle inpout */
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    max-width: 100%;
    font-size: 1.50rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.input-Description {
    /* width: -webkit-fill-available; */
    width: 70%;
}

.btn-btnChanges {
    display: flex;
    align-items: center;
}

.cont-img-Change {
    display: flex;
    justify-content: unset;
    /* width: auto; */
    margin: auto;

    && img {
        height: auto;
        max-width: 100%;
        margin: auto;
    }

    && .btn-clear {
        width: max-content;
        position: absolute;
        background: #ffe02e;
        display: flex;
        padding: 0.3rem;
        color: rgba(255, 46, 46, 0.886);
    }
}


@media screen and (max-width: 800px) {}

@media screen and (max-width: 380px) {

    .container-items {
        display: block;
        justify-content: start;
        align-items: center;
        padding: 0 0.4rem 0 0;

        && div {
            margin: 0 0.2rem;
            max-width: 100%;
            display: -webkit-inline-box;
        }

        && label {
            display: flex !important;
        }
    }

    .container-Upload {
        display: flex !important;
        justify-content: end;
        position: relative;
        top: 44px;
        width: min-content;
        /* border: 1px solid; */
        float: right;
    }

    .input-Description {
        width: -webkit-fill-available;
        /* max-width: 90%; */
    }

    .btn-btnChanges {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
    }

}