.ArticleUpload {}

.container-items {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 0.4rem;

    && div {
        margin: 0 0.2rem;
        max-width: 50%;
    }


}


@media screen and (min-width: 800px) {
   
    
    .input-Description {
        width: -webkit-fill-available;
        /* max-width: 100%; */
    }
  
}
.changeImage figure {
    margin: auto;
}

.btn-share button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* File hiffle inpout */
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    max-width: 100%;
    font-size: 1.50rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}